{% extends 'layout.html' %}

{% load static %}


 {% block content %}
    <div
      class="hero page-inner overlay"
      style="background-image: url('{% static "assets/images/about.jpg" %}')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">About Us</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'propertyapp:index' %}">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row text-left mb-5">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
          </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              Domina Homes PropertyListing is dedicated to simplifying the process of finding, buying, or selling properties.<br>
              <br>
               We bridge the gap between buyers, sellers, and agents by providing a seamless platform for property
                listings. <br>
                <br>
                Whether you’re searching for your dream home, an investment property, 
                or need expert real estate advice, Domina Homes is here to guide you every step of the way.<br>
                <br>

          With a commitment to trust and transparency, we prioritize client satisfaction, offering an extensive
               portfolioof verified listings and expert guidance to help you make informed decisions.
            </p>
            <div class="col-12">
              <h2 class="font-weight-bold heading text-primary mb-4">Vision</h2>
            </div>
            <p class="text-black-50">
              To be the leading property listing platform, empowering individuals and families to find their ideal homes effortlessly and confidently.
            </p>
            <div class="col-12">
              <h2 class="font-weight-bold heading text-primary mb-4">Mission</h2>
            </div>
            <p class="text-black-50">
              To connect people with reliable property solutions by providing a user-friendly platform, top-notch real estate services, and personalized support for a seamless property journey.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="col-12">
              <h2 class="font-weight-bold heading text-primary mb-4">Goals</h2>
            </div>
            <p class="text-black-50">
              <ol>
                <li><strong>Deliver Exceptional Service:</strong> Ensure every client experiences unparalleled professionalism
                   and care.</li><br>
                   <li><strong>Expand Our Reach: </strong> Continuously grow our portfolio of properties and services to cater to diverse client needs.</li><br>
                    <li><strong>Foster Trust: </strong>  Build lasting relationships through honesty, transparency, and quality service.</li><br>
                      <li><strong>Leverage Technology: </strong> Incorporate cutting-edge tools to simplify property searches and enhance user experience.</li><br>
                        <li><strong>Support Communities:</strong>  Contribute to local communities by promoting sustainable housing solutions.</li><br>
              </ol>
             </p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
            <div class="img-about dots">
              <img src="{% static 'assets/images/hero_bg_3.jpg' %}" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Quality properties</h3>
                <p class="text-black-50">
                 Explore a curated selection of high-quality properties that meet your standards and exceed expectations.
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Top rated agents</h3>
                <p class="text-black-50">
                  Work with the best in the industry—agents who are dedicated to delivering exceptional service and expertise.
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Easy and safe</h3>
                <p class="text-black-50">
                Experience a hassle-free and secure platform designed to simplify your property search and transactions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section pt-0">
      <div class="container">
        <div class="row justify-content-between mb-5">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="img-about dots">
              <img src="{% static 'assets/images/hero_bg_2.jpg' %}" alt="Image" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Quality properties</h3>
                <p class="text-black-50">
                 Explore a curated selection of high-quality properties that meet your standards and exceed expectations.
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Top rated agents</h3>
                <p class="text-black-50">
                 Work with the best in the industry—agents who are dedicated to delivering exceptional service and expertise.
                </p>
              </div>
            </div>

            <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
              <div class="feature-text">
                <h3 class="heading">Easy and safe</h3>
                <p class="text-black-50">
                Experience a hassle-free and secure platform designed to simplify your property search and transactions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
            <img src="{% static 'assets/images/img_1.jpg' %}" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/images/img_3.jpg' %}" alt="Image" class="img-fluid" />
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'assets/images/img_2.jpg' %}" alt="Image" class="img-fluid" />
          </div>
        </div>
        <div class="row section-counter mt-5">
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">2917</span></span
              >
              <span class="caption text-black-50"># of Buy Properties</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">3918</span></span
              >
              <span class="caption text-black-50"># of Sell Properties</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">38928</span></span
              >
              <span class="caption text-black-50"># of All Properties</span>
            </div>
          </div>
          <div
            class="col-6 col-sm-6 col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
                ><span class="countup text-primary">1291</span></span
              >
              <span class="caption text-black-50"># of Agents</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section sec-testimonials bg-light">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-6">
            <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
              The Team
            </h2>
          </div>
          <div class="col-md-6 text-md-end">
            <div id="testimonial-nav">
              <span class="prev" data-controls="prev">Prev</span>

              <span class="next" data-controls="next">Next</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
          <div class="testimonial-slider">

            {% for Team in teams %}

            <div class="item">
              <div class="testimonial">
                <img
                  src="/media/{{Team.image}}"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mb-4"
                />
                <h3 class="h5 text-primary">{{Team.name}}</h3>
                <p class="text-black-50">{{Team.position}}</p>

                <p>
                  {{Team.bio}}
                </p>

                <ul class="social list-unstyled list-inline dark-hover">
                  <li class="list-inline-item">
                    <a href="{{Team.twitter_url}}"><span class="icon-twitter"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="{{Team.facebook_url}}"><span class="icon-facebook"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="{{Team.linkedin_url}}"><span class="icon-linkedin"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="{{Team.instagram_url}}"><span class="icon-instagram"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

  {% endblock content %}
