{% load static %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
   


    <title>
      Property Listing by Domina Homes
    </title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav mb-6">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="{% url 'propertyapp:index' %}" class="logo m-0 float-start">
              <img src="{% static 'assets/images/domina logo.png' %}" alt="Domina Homes Logo" style="height: 100px;">
            </a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{% url 'propertyapp:index' %}">Home</a></li>
              <li class="has-children">
                <a href="{% url 'propertyapp:properties' %}">Properties</a>
                <ul class="dropdown">
                  <li><a href="{% url 'propertyapp:buy_properties' %}">Buy Property</a></li>
                  <li><a href="{% url 'propertyapp:sell_property' %}">Sell Property</a></li>
                  <li><a href="{% url 'propertyapp:listings' %}">Listing</a></li>
                </ul>
              </li>
              <li><a href="{% url 'propertyapp:services' %}">Services</a></li>
              <li><a href="{% url 'propertyapp:about' %}">About</a></li>
              <li class="has-children">
                <a href="{% url 'propertyapp:blog' %}">Blog</a>
                <ul class="dropdown">
                  
                  {% for category in categories  %}
                  <li><a href="/blogs/{{category.slug}}/">{{category.name}}</a></li>
                    
                  {% endfor %}
                    
                </ul>
              </li>
              <li><a href="{% url 'propertyapp:agent' %}">Agent</a></li>
              <li><a href="{% url 'propertyapp:contact' %}">Contact Us</a></li>
              {% if user.is_authenticated %}
          <!-- Logged-in User Section -->
          <li class="has-children">
            <a href="{% url 'propertyapp:profile' %}">
              <img src="{{profile.picture.url}}" alt="Profile" style="height: 40px; width: 40px; border-radius: 50%; vertical-align: middle;">
              {{ user.username }}
            </a>
            <ul class="dropdown">
              <li><a href="/password_change/">Change Password</a></li>
              <li><a href="{% url 'propertyapp:logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <!-- Guest User Section -->
          <li><a href="/login/">Login</a></li>
          <li><a href="/register/">Register</a></li>
          {% endif %}
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    
        {% block content %}
        <!-- Child templates will replace this content -->
        {% endblock content %}
    


    <div class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="widget">
                <h3>Contact</h3>
                <address>00100 Nairobi,Kenya</address>
                <ul class="list-unstyled links">
                  <li><a href="tel://11234567890">+254798995402</a></li>
                  <li><a href="tel://11234567890">+254114037224</a></li>
                  <li>
                    <a href="mailto:noelnettechnologies@gmail.com">noelnettechnologies@gmail.com</a>
                  </li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <div class="widget">
                <h3>Sources</h3>
                <ul class="list-unstyled float-start links">
                  <li><a href="{% url 'propertyapp:about' %}">About us</a></li>
                  <li><a href="{% url 'propertyapp:services' %}">Services</a></li>
                  <li><a href="{% url 'propertyapp:about' %}">Vision</a></li>
                  <li><a href="{% url 'propertyapp:about' %}">Mission</a></li>
                </ul>
                <ul class="list-unstyled float-start links">
                  
                 
                  <li><a href="{% url 'propertyapp:blog' %}">Blog</a></li>
                 
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <div class="widget">
                <h3>Links</h3>
                <ul class="list-unstyled links">
                  <li><a href="{% url 'propertyapp:about' %}">Our Vision</a></li>
                  <li><a href="{% url 'propertyapp:about' %}">About us</a></li>
                  <li><a href="{% url 'propertyapp:contact' %}">Contact us</a></li>
                </ul>
  
                <ul class="list-unstyled social">
                  <li>
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon-pinterest"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon-dribbble"></span></a>
                  </li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->
  
          <div class="row mt-5">
            <div class="col-12 text-center">
             
  
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                . All Rights Reserved. &mdash; Designed by NoelNet Technologies
              </p>
              
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.site-footer -->
  
      <!-- Preloader -->
      <div id="overlayer"></div>
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
  
      <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
      <script src="{% static 'assets/js/aos.js' %}"></script>
      <script src="{% static 'assets/js/navbar.js' %}"></script>
      <script src="{% static 'assets/js/counter.js' %}"></script>
      <script src="{% static 'assets/js/custom.js' %}"></script>
     

    </body>
  </html>
  